<!-- This div container will only be displayed if an album is loaded and has not yet been submitted for an update. -->
<div align="center" style="margin-left:50px;margin-right:50px" *ngIf="album != null && !wasSubmitted">
  <!-- The form for editing an album's details. Form submission is handled by the onSubmit() method. -->
  <form (ngSubmit)="onSubmit()" #updateForm="ngForm" ngNativeValidate>
    <!-- Artist input field, bound to the album.Artist property. -->
    <div class="form-group">
      <label for="artist">Artist</label>
      <input id="artist" type="text" class="form-control" aria-describedby="helpArtist" placeholder="Enter the name of the Artist" required minlength="1" maxlength="100" [(ngModel)]="album.Artist" name="artist">
    </div>
    <!-- Album title input field, bound to the album.Title property. -->
    <div class="form-group">
      <label for="album">Album</label>
      <input id="album" type="text" class="form-control" aria-describedby="helpAlbum" placeholder="Enter the name of the Album" required minlength="1" maxlength="100" [(ngModel)]="album.Title" name="title">
    </div>
    <!-- Description textarea, bound to the album.Description property. -->
    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" rows="3" class="form-control" aria-describedby="helpDescription" placeholder="Enter the description of the Album" required minlength="1" maxlength="500" [(ngModel)]="album.Description" name="description"></textarea>
    </div>
    <!-- Year input field, bound to the album.Year property. -->
    <div class="form-group">
      <label for="year">Year</label>
      <input id="year" type="number" class="form-control" aria-describedby="helpYear" placeholder="Enter the year of the Album" required min="1900" max="2030" [(ngModel)]="album.Year" name="year">
    </div>
    <!-- Image filename input field, bound to the album.Image property. -->
    <div class="form-group">
      <label for="image">Image Filename</label>
      <input id="image" type="text" class="form-control" aria-describedby="helpImage" placeholder="Enter the image filename for the Album" required minlength="1" maxlength="100" [(ngModel)]="album.Image" name="image">
    </div>
    <!-- Tracks textarea, bound to the tracksRaw property for editing track details. -->
    <div class="form-group">
      <label for="tracks">Tracks</label>
      <textarea id="tracks" rows="3" class="form-control" aria-describedby="helpTracks" placeholder="Enter each track followed by a return key for the Album" required minlength="1" maxlength="1000" [(ngModel)]="tracksRaw" name="tracks"></textarea>
    </div>
    <!-- Submit button for the form. -->
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <br/>
  <!-- Cancel button to go back to the previous view without making changes. -->
  <button class="btn btn btn-light" (click)="onCancel()">Cancel</button>
</div>
<!-- This div is displayed only after the album is successfully submitted. -->
<div  *ngIf="album != null && wasSubmitted">
  Album was updated successfully.
</div>

